:root {
  --mainBlack: #000000;
  --mainWhite: #ffffff;
  --lightBlack: #343a40;
  --lightWhite: #f8f9fa;
  --mainGrey: #6c757d;
  --yellow: #ffc107;
}

body {
  font-family: "Lato", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlack) !important;
}

.text-title {
  font-family: "Playfair Display", serif !important;
  letter-spacing: 0.3 rem;
}

.text-white {
  color: var(--lightWhite) !important;
}

.text-black {
  color: var(--lightBlack) !important;
}

.text-grey {
  color: var(--mainGrey) !important
}

.logo-color {
  color: white !important;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: .8rem !important;
  color: var(--mainGrey);
  border: .1rem solid var(--lightBlack) !important;
}

.btn-black:hover {
  background: var(--lightBlack);
  color: var(--mainWhite)
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainBlack);
}